.dashres {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin-bottom: 16px;
}

@media (max-width: 920px) {
  .dashres {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 515px) {
  .dashres {
    grid-template-columns: 1fr;
  }
}
